{% extends 'base.html' %}
{% block content %}

<div class="main container bg-dark text-white">
  <br>
  <div class="table-responsive mx-auto">
    <h3 class="card card-body text-center bg-dark text-white border-3 border-warning">Nómina</h3>
    <table class="table table-sm table-bordered table-dark border-secondary text-white border border-warning border-3"
      style="font-size: 0.8em">
      <thead>
        <tr>
          <th>ID Nomina</th>
          <th>ID Personal</th>
          <th>Fecha Pago</th>
          <th>Tipo Pago</th>
          <th>Horas Trabajadas</th>
          <th>Horas Extras</th>
          <th>Retardos</th>
          <th>Faltas</th>
          <th>Empleado del Mes</th>
          <th>Salario Neto</th>
        </tr>
      </thead>
      <tbody>
        {% for item in nomina %}
        <tr>
          <td>{{ item.ID_NOMINA }}</td>
          <td>{{ item.NOMBRE_COMPLETO }}</td>
          <td>{{ item.FECHA_PAGO }}</td>
          <td>{{ item.TIPO_PAGO }}</td>
          <td>{{ item.HORAS_TRABAJADAS }}</td>
          <td>{{ item.HORAS_EXTRAS }}</td>
          <td>{{ item.RETARDOS }}</td>
          <td>{{ item.FALTAS }}</td>
          <td>
            {% if item.EMPLEADO_DEL_MES %}
            <span style="color: rgb(9, 245, 9);">&#10004;</span> <!-- Palomita verde -->
            {% else %}
            <span style="color: red;">&#10060;</span> <!-- Equís roja -->
            {% endif %}
          </td>
          <td>{{ item.SALARIO_NETO }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <h4 class="card card-body text-center bg-dark text-white col-md-12 mx-auto border border-warning border-3">Agregar
    Registro de Nómina</h4>
  <form method="post" class="card card-body bg-dark text-white col-md-12 mx-auto border border-warning border-3">
    {% csrf_token %}



    <div class="row">
      <div class="col">
        <p class="fw-bold fs-5">ID Personal:</p>
        {{ form.ID_personal }}
      </div>
      <div class="col">
        <p class="fw-bold fs-5">Fecha de Pago:</p>
        {{ form.Fecha_pago }}
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col">
        <p class="fw-bold fs-5">Tipo de pago:</p>
        {{ form.Tipo_pago }}
      </div>
      <div class="col">
        <p class="fw-bold fs-5">Horas Trabajadas:</p>
        {{ form.Horas_trabajadas }}
      </div>
      <div class="col">
        <p class="fw-bold fs-5">Horas Extras:</p>
        {{ form.Horas_extras }}
      </div>
    </div>

    
    <br>
    <div class="row">
      <div class="col">
        <p class="fw-bold fs-5">Retardos:</p>
        {{ form.Retardos }}
      </div>
      <div class="col">
        <p class="fw-bold fs-5">Faltas:</p>
        {{ form.Faltas }}
      </div>
      <div class="col">
        <p class="fw-bold fs-5">Empleado del mes:</p>
        {{ form.Empleado_del_mes }}
      </div>
    </div>
    <br>







    <button type="submit" class="btn btn-itp">Guardar</button>
  </form>

</div>
{% endblock %}