{% extends 'base.html' %}
{% block content %}

<main class="container py-5">
    <section class="card card-body bg-dark text-white">
        <h2 class="display-5 text-center">Bienvenido a personal</h2>
        <br>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, dicta, magni assumenda consequatur
            corporis
            omnis quisquam rerum officia, eveniet doloremque quas? Consequatur harum quia corporis nulla earum odit vero
            at?
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt reiciendis earum mollitia. Ex veritatis
            labore obcaecati illum dolores a iusto minima sed quaerat non expedita omnis vero, molestiae harum
            perferendis aut temporibus animi doloribus! Distinctio a atque iusto. Tenetur nostrum corrupti eveniet
            distinctio soluta iure, ea assumenda hic minima nemo possimus dolore quibusdam fuga, voluptas reiciendis
            enim, eaque voluptate obcaecati aliquid? Est quas, at cum a architecto fugit quaerat natus enim mollitia
            quam eligendi quae modi ratione veniam sit maxime rem itaque porro laudantium tempore voluptatem animi,
            facere odit! Earum, odio nobis dolore aut consequatur dicta vero optio placeat nulla!
        </p>
        <br>
        <p>
            Personal:
        </p>

        <div class="text-center">
            <a class="btn btn-secondary" href="#"> HOLA </a>
            <a class="btn btn-dark" href="#"> ADIOS </a>
        </div>
    </section>
</main>
{% endblock %}